{% extends 'webapp/base.html' %}

{% load crispy_forms_tags %}

{% block content %}

<body>
  <div class="form-container container bg-light shadow-md">
    <h3>Create record</h3>

    <h5>Start adding the required details for your record.</h5>

    <form
      method="POST"
      autocomplete="off"
    >
      {% csrf_token %} 
      {{ form|crispy }}

      <div class="my-container">
        <a class="btn-update btn btn-dark my-button" href="{% url 'dashboard' %}">Cancel</a>
        
        <button
          type="submit"
          class="btn-update btn btn-dark my-button"
        >
          Create
        </button>

      </div>
    </form>
  </div>
</body>

{% endblock %}