{% extends 'webapp/base.html' %}

{% load crispy_forms_tags %}

{% block content %}

<body>
  <div class="form-container container bg-light shadow-md">
    <h3 class="text-center">Login to your account</h3>

    <form
      method="POST"
    >
      {% csrf_token %} 
      {{ form|crispy }}

      <div class="w-100 my-container">
        <button
          type="submit"
          class="btn btn-dark btn-block w-100 my-button"
        >
          Login
        </button>
      </div>
    </form>

    <div class="text-center">
      <p>Don't have an account?</p>
      <a href="{% url 'register' %}">Register</a>
    </div>
  </div>
</body>

{% endblock  %}
