{% extends 'webapp/base.html' %}

{% load crispy_forms_tags %}

{% block content %}

<body>
  <div class="form-container container bg-light shadow-md">
    <h3 class="text-center">Update record</h3>
    <h5 class="text-center">Update your record details down below.</h5>


    <form
      method="POST"
      autocomplete="off"
    >
      {% csrf_token %} 
      {{ form|crispy }}

      
      <div class="my-container">
        <a class="btn-update btn btn-dark my-button" href="{% url 'view-record' record.id %}">Cancel</a>

        <button
          type="submit"
          class="btn-update btn btn-dark my-button"
        >
          Update
        </button>
      </div>
    </form>
  </div>
</body>

{% endblock %}