{% extends 'webapp/base.html' %}

{% load crispy_forms_tags %}

{% block content %}

<body>
  <div class="form-container container bg-light shadow-md p-5">
    <h3>Update record</h3>

    <h5>Update your record details down below.</h5>

    <hr />
    <br />

    <form
      method="POST"
      autocomplete="off"
    >
      {% csrf_token %} 
      {{ form|crispy }}

      <button
        type="submit"
        class="btn btn-dark w-100 btn-block p-2"
      >
        Update record
      </button>
    </form>
  </div>
</body>

{% endblock %}