{% extends 'webapp/base.html' %} 

{% block content %}

<div class="card">
  <p><strong>{{ record.last_name|upper }} {{ record.first_name }}</strong></p>

  <div class="card-body">
    <p><strong>ID:</strong> {{ record.id }}</p>
    <p><strong>Email:</strong> {{ record.email }}</p>
    <p><strong>Phone number:</strong> {{ record.phone }}</p>
    <p><strong>Address:</strong> {{ record.address }}</p>
    <p><strong>City:</strong> {{ record.city }}</p>
    <p><strong>Province:</strong> {{ record.province }}</p>
    <p><strong>Country:</strong> {{ record.country }}</p>
    <p><strong>Country:</strong> {{ record.creation_date }}</p>
  </div>

  <div>
    <a class="btn btn-secondary" href="{% url 'dashboard' %}">Back</a>
    <a class="btn btn-info" href="{% url 'update-record' record.id %}">Update</a>
    <a class="btn btn-danger" href="{% url 'delete-record' record.id %}">Delete</a>
  </div>
</div>

{% endblock %}
